.navbar {
    background-color: #03101c;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .navbar-brand {
      color: #007bff;
      &:hover {
        color: #0056b3;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #007bff;
          &:hover {
            color: #0056b3;
          }
        }
        &.active {
          .nav-link {
            color: #0056b3;
            background-color: #e9ecef;
          }
        }
      }
    }
  }