<h4>filter equipments by categories</h4>
@if(!isLoading){
<select class="form-select">
    <option value="">Select Category</option>
    @for(item of categories; track $index) {
    <option value="{{item.id}}">{{item.name}}</option>
    }@empty {
    <option>No categories found</option>
    }
</select>
<div class="container mt-2 ">
    <div class="mb-2 d-flex align-items-center justify-content-between">
        <h4>Equipments</h4>
        <button class="btn btn-primary"><i class="fas fa-plus me-1"></i>add new category</button>
    </div>
    @if(errorMessage){
    <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div> 
    }
    @else{
    <div class="row mt-2 gap-4 d-flex justify-content-center align-items-center">
        @for (item of equipments; track $index) {
        <div class="col-5 mb-3 bg-white" style="max-width: 550px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../../assets/images/image2.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title my-2">{{item.name}}</h5>
                        <h6 class="mb-2">{{item.category.name}}</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text">Price: <small class="text-muted"> {{item.rentalPrice}}</small></p>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <button class="btn btn-primary">rent</button>
                            <div>
                                <button class="btn btn-warning me-1">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }@empty {
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                No equipments found
            </div>
        </div>
        }
    </div>
    }

</div>
}
@else{
<div class="d-flex align-items-center justify-content-center h-100 w-100">
    <app-spinner></app-spinner>
</div>
}