<div class="container mt-2">
    <div class="mb-4 d-flex align-items-center justify-content-between">
        <h4>Demandes</h4>
        <!-- Add button if needed -->
        <!-- <a class="btn btn-primary"><i class="fas fa-plus me-1"></i>Demand an Equipment</a> -->
    </div>
    <div class="row mt-2 gap-4 d-flex justify-content-center align-items-center">
        @for (item of demandes; track $index) {
            <div class="col-md-3">
                <div class="card">
                    <img src="../../../../../assets/images/img1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title my-2">{{item.demandeStatus}}</h5>
                        <h6 class="mb-2">{{item.equipment.name}}</h6>
                        <p class="card-text"><b>User: </b><small class="text-muted">{{item.user}}</small></p>
                        <p class="card-text"><b>Reserved From:</b><br>
                            <small class="text-muted">{{formatDate(item.startDate)}}</small>
                            <br><b>To :</b><br>
                            <small class="text-muted">{{formatDate(item.endDate)}}</small>
                        </p>
                        @if (item.demandeStatus === 'PENDING') {
                            <button class="btn btn-success" title="accept demand" (click)="updateStatus(item ,'ACCEPTED')"><i class="fa-solid fa-check" style="color: #ffffff;"></i></button>
                            <button  class="btn btn-danger ms-3" title="denie demand" (click)="updateStatus(item ,'DENIED')"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
                            <button class="btn btn-primary ms-3" ><i class="fas fa-edit"></i></button>
                        }
                        <button class="btn btn-danger ms-3" (click)="deleteDemand(item.id)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        } @empty {
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No Demandes found
                </div>
            </div>
        }
    </div>
</div>
