aside {
  width: 230px;
  height: 100vh;
  background-color: #070708;
  position: fixed;
  overflow: auto;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;

    li {
      margin-bottom: 5px;
      background-color: rgb(0, 126, 128);
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 10px;
      a {
        display: block;
        padding: 10px 20px;
        color:white;
        text-decoration: none;
        text-align: center;
        &:hover {
          background-color: rgb(12, 160, 162);
          border-radius: 10px;
        }
      }
    }
  }
}