<div class="d-flex align-items-center vh-100 ">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 mb-5" id="exampleModalLabel">Creat demandes</h1>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" >
                    <div class="mb-3">
                        <label for="startDate" class="form-label">From : </label>
                        <input type="date" id="startDate" name="startDate"  [(ngModel)]="formData.startDate" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="endDate" class="form-label">To</label>
                        <input type="date" id="endDate" name="endDate" [(ngModel)]="formData.endDate" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="userId" name="userId" hidden [(ngModel)]="formData.userId" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="equipmentId" name="equipmentId" hidden [(ngModel)]="formData.equipmentId" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
        </div>
    </div>
    </div>
  
