<div id="add-devis-container">    

    <form id="add-devis-form">
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search By user ..." />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        
                        <div class="form-check">
                            Id
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        </div>
                    </th>
                    <th scope="col">user</th>
                    <th scope="col">equipment</th>
                    <th scope="col">status</th>
                    <th scope="col">rent date</th>
                    <th scope="col">return date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            1
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        </div>
                    </th>
                    <td>yassine</td>
                    <td>equipment1</td>
                    <td>Accepted</td>
                    <td>12/12/2021</td>
                    <td>12/12/2021</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end align-items-center mb-4">
            <button type="button" class="btn btn-primary me-2">save</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
       
    </form>
</div>