<div id="add-devis-container">

    <form id="add-devis-form">
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search By user ..." />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>
            </div>
        </div>
        <div class="scrollable-table">
            @if(!isLoading){
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">

                            <div class="form-check">
                                Id
                                <input class="form-check-input"  type="checkbox"  id="flexCheckDefault" />
                            </div>
                        </th>
                        <th scope="col">user</th>
                        <th scope="col">equipment</th>
                        <th scope="col">status</th>
                        <th scope="col">rent date</th>
                        <th scope="col">return date</th>
                    </tr>
                </thead>
                <tbody>
                    @for(demande of demandes ; track $index){
                    <tr>
                        <th scope="row">
                            <div class="form-check">
                                {{$index +1}}
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            </div>
                        </th>
                        <td>{{demande.user}}</td>
                        <td>{{demande.equipment.name}}</td>
                        <td>{{demande.demandeStatus}}</td>
                        <td>{{demande.startDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{demande.endDate | date:'yyyy-MM-dd'}}</td>

                    </tr>
                     }
                </tbody>
            </table>
            }@else{
                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                    <app-spinner></app-spinner>
                </div>
            }
        </div>
        <div class="d-flex justify-content-end align-items-center mb-4">
            <button type="button" class="btn btn-primary me-2">save</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>

    </form>
</div>